body{
    background-image: url(/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.color{
    background-color: rgb(4, 33, 114);
}


.centrado{
    text-align: center;
}

.colortexto{
    color: blue;
}