body{
    background-image: url(/ProyectoSemestral/Imagenes/valorant2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centrado{
    text-align: center ;


}

.colortexto{

color: #000;
}