body{
    background-image: url(/ProyectoSemestral/Imagenes/Fortnite4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color{
    background-color: rgba(211, 211, 226, 0.5);
}

